<!DOCTYPE html>
<html>
<head><title>Closing...</title></head>
<body>
    <script>
        window.onload = () => {
            window.close();
        };
    </script>
    <p>Closing this window...</p>
</body>
</html>
